* {
    margin: 0;
    background-color: #1c1c1c;
    font-family: Helvetica;
    font-size: 1.3rem;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.buttons {
    padding: 16px;
}

.buttons button {
    background-color: #f5f5f5;
    /* border: 2px solid #f5f5f5; */
    padding: 8px;
    border-radius: 8px;
    font-style: italic;
}

.buttons input {
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    border-radius: 8px;
    width: 172px;
    padding: 8px;
}

.mode {
    background-color: #f5f5f5;
}

.item {
    width: 100px;
    height: 100px;
    background-color: #1010ff;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    border-radius: 8px;
}

@keyframes appear {
    0% {
        transform: scale(0) rotate(-45deg);
    }
    75% {
        transform: scale(1.25) rotate(25deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}